{% block title %}
    Navbar
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
{% endblock %}

{% block body %}
<header>
    <nav>
        <ul>
            <li class="link_page"><a href="{{ path('app_infos_perso') }}">{% trans %}.navbar.infos_perso{% endtrans %}</a></li>
            <li class="link_page"><a href="{{ path('port_competences') }}">{% trans %}.navbar.competences{% endtrans %}</a></li>
            <li class="link_page"><a href="{{ path('port_projets') }}">{% trans %}.navbar.projets{% endtrans %}</a></li>
            <li class="link_page"><a href="{{ path('port_contact') }}">{% trans %}.navbar.contact{% endtrans %}</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
